.demo-button {
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}

.demo-button--primary {
  color: white;
  background-color: var(--colors-primary-default);
}

.demo-button--secondary {
  color: var(--colors-text-secondary);
  background-color: var(--colors-surface-secondary);
  box-shadow: var(--effects-shadows-small) inset;
}

.demo-button--small {
  font-size: 12px;
  padding: 10px 16px;
}

.demo-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}

.demo-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
