body {
  margin: 0;
  /* color: #fff; */
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

a {
  color: var(--colors-primary-default);
  text-decoration: none;
  &:hover {
    color: var(--colors-primary-hover);
  }
  &:active {
    color: var(--colors-primary-active);
  }
}

.main {
  color: var(--colors-text-primary);
  background-color: var(--colors-surface-background);
}

.content {
  display: flex;
  min-height: 100vh;
  line-height: 1.1;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  margin: auto;
  gap: 20px; 
}

.content h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

.content p {
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.5;
}
